<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Jay/src/ParserScanner2011Original/src/ParserDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ParserScanner2011Original.src.ParserDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\Users\mcon\Documents\Mike\Parser\Jay\bin\GIVEN\PARSER\prog2.JAY&#13;&#10;C:\Users\mcon\Documents\Mike\Parser\Jay\bin\GIVEN\PARSER\test.JAY"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Jay"/>
</launchConfiguration>
